body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

/* layout */
.board {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.row {
  display: flex;
  gap: 12px;
}

/* CARD */
.card {
  width: 90px;
  height: 130px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

/* flip state */
.card.flipped .card-inner {
  transform: rotateY(180deg);
}

/* front + back */
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  backface-visibility: hidden;
}

/* FRONT */
.card-front {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BACK */
.card-back {
  background: #2a5298;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  transform: rotateY(180deg);
}

/* hover */
.card:hover {
  transform: translateY(-5px);
}
